@page "/"
@inject IStopwatcherService StopwatcherService
@inject IJSRuntime JSRuntime
@implements IDisposable


<h1>My Fitness Timer Web Application</h1>

<br />
<h2>Time: @currentTime</h2>
<button class="btn btn-primary" @onclick="StartTimer">Start Timer</button>
<button class="btn btn-primary" @onclick="StopTimer">Stop Timer</button>
<br />

@if (StopwatcherService.Latest.Id == 0)
{
    <h2>No Saved Times</h2>
}
else
{
    <h2>Previous Time: @TimeSpan.FromTicks(StopwatcherService.Latest.Time)</h2>
}


<h3>
    By
</h3>
<h3>
    Logan Heddens
</h3>
<h3>
    Sarah Valle
</h3>
<h3>
    Amy Collier
</h3>

@code{
    protected TimeSpan currentTime = new TimeSpan(0, 0, 0);
   
    public async void StopTimer()
    {
        Console.WriteLine("Stop was called!");
        await JSRuntime.InvokeVoidAsync("console.log", endTime);

        await StopwatcherService.CreateStopwatcher(endTime);
        await StopwatcherService.LatestTime();
        StopwatcherService.OnChange += StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        await StopwatcherService.LatestTime();
        StopwatcherService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StopwatcherService.OnChange -= StateHasChanged;
    }
}
